<div class="form-container">
  <div class="form-card">
    <div class="form-group row">
      <label for="eventType">Тип события</label>
      <select id="eventType" [ngModel]="selectedValue" (ngModelChange)="onSelected($event)">
        <option *ngFor="let type of eventTypes" [value]="type">{{ type | eventTypeName }}</option>
      </select>
    </div>
    <ng-container #container></ng-container>
  </div>
</div>
