.form-container {
  border: 1px solid #c7cbd5;
  border-radius: 4px;
  width: 600px;
  background-color: white;

  .form-card {
    padding: 1rem;

    &:first-child {
      margin-top: 1rem;
    }
  }
}
