<div class="registry">
  <div class="buttons-container">
    <button class="button button-primary" (click)="addEvent()">Добавить событие</button>
  </div>
  <div class="event-timeline">
    <ng-container *ngFor="let event of timelineEvents">
      <event-card [event]="event"></event-card>
    </ng-container>
  </div>
</div>
