.container {
  background-color: white;
  // TODO вынести в общие, много где дублируется
  border: 1px solid #c7cbd5;
  position: relative;

  .close-mark {
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    cursor: pointer;
  }
}
