<form #form="ngForm">
    <div class="form-group row">
      <label for="total">Сумма транзакции</label>
      <input [(ngModel)]="model.total" name="total" id="total" type="number" maxlength="60" #total="ngModel" required>
      <div *ngIf="total.errors?.required && submitted" class="danger">Элемент обязателен для заполнения</div>
    </div>

    <div class="form-group row">
      <label for="currency">Валюта</label>
      <input type="text" maxlength="20" [(ngModel)]="model.currency" name="currency" id="currency" required #currency="ngModel" required>
      <div *ngIf="currency.errors?.required && submitted" class="danger">Элемент обязателен для заполнения</div>
    </div>

    <div class="form-group row">
      <label for="transactionFrom">Транзакция от</label>
      <input type="text" maxlength="60" [(ngModel)]="model.transactionFrom" name="transactionFrom" id="transactionFrom" #transactionFrom="ngModel" required>
      <div *ngIf="transactionFrom.errors?.required && submitted" class="danger">Элемент обязателен для заполнения</div>
    </div>

    <div class="form-group row">
      <label for="description">Описание</label>
      <input type="text" [(ngModel)]="model.description" name="description" id="description" #description="ngModel" required>
      <div *ngIf="description.errors?.required && submitted" class="danger">Элемент обязателен для заполнения</div>
    </div>
    <button type="button" class="button button-primary" (click)="onFormSubmit()">Добавить событие</button>
  </form>
