.container {
  height: 100%;
  box-sizing: border-box;
  padding-left: 20px;

  &.negative {
    border: 3px solid red;
  }

  &.positive {
    border: 3px solid green;
  }

  dt, dd {
    float: left;
  }
  dt {
    clear:both;
    padding-right: 10px;
  }
}
