<div class="container" [ngClass]="event.isConsumption() ? 'positive' : 'negative'">
  <dl>
    <dt>Сумма транзакции:</dt>
    <dl>{{ event.total }} {{ event.currency }}</dl>
    <dt>Отправитель:</dt>
    <dl>{{ event.transactionFrom }}</dl>
    <dt>Дата:</dt>
    <dl>{{ event.date | date: 'dd.MM.yyyy HH:mm'}}</dl>
  </dl>
</div>
