
<div class="container">
  <div class="header">
    <h4>{{ event.header }}</h4>
  </div>
  <div>
      <p>{{ event.content }}</p>
  </div>
  <div>
    {{ event.date | date: 'dd.MM.yyyy HH:mm' }}
  </div>
</div>
