<div class="container">
  <dl>
    <dt>Сумма транзакции:</dt>
    <dl>{{ event.total }} {{ event.currency }}</dl>
    <dt>Описание:</dt>
    <dl>{{ event.description }}</dl>
    <dt>Отправитель:</dt>
    <dl>{{ event.transactionFrom }}</dl>
    <dt>Дата:</dt>
    <dl>{{ event.date | date: 'dd.MM.yyyy HH:mm'}}</dl>
  </dl>
  <button class="button button-danger" (click)="deleteEvent()">Удалить</button>
</div>
